# common ssh configuration to use jitsi jump boxes and special resources.
# most users will only need this first step:
# add the following (adapted to wherever this repo is checked out)
# to their ssh config file: ~/.ssh/config 
# Include ~/dev/infra-customization/config/ssh.config
#
# additionally, the following aliases can be set up to use this file
# which creates a persistent ssh tunnel which can be used for subsequent
# connections to the same host for a short period.  This is useful for ansible
# and for various other operations, but should be avoided for large batches
# of more than a few nodes, as it leaves the persistent tunnel alive for an hour
# these can be added to the .bashrc if desired
# set up aliases for this config in your shell, i.e.,
#   alias ssh-jitsi='ssh -F ~/<path>/infra-customization/config/ssh.config'
#   alias scp-jitsi='scp -F ~/<path>/infra-customization/config/ssh.config'
#
# usage
#   ssh-jitsi <username@><ipaddress>

#### JUMPBOXES

# this is only an example, replace hostname with DNS for public IP of your jumpbox
Host 10.1.*
  ProxyCommand ssh -t -A -l %r us-west-2-example.infra.example.com -o "StrictHostKeyChecking no" -W %h:%p


#### DEFAULTS

Host 10.*
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking  no
  ServerAliveInterval    60
  TCPKeepAlive           yes
  ForwardAgent           yes
  ControlMaster          auto
  ControlPath            /tmp/mux-%C
  ControlPersist         1h

